%news__text {
    transition: opacity .5s ease-in-out,
    transform .2s ease-in-out;
    position: fixed;
    bottom: 30px;
    right: 16px;
    color: white;
    font-size: 18pt;
    width: 55px;
    text-align: center;
    line-height: 1em;
    transform: rotateZ(-10deg);
}

.news {
    &__background {
        display: block;
        position: fixed;
        bottom: 0;
        right: 0;
        background: #1e1e1e;
        height: 100px;
        width: 100px;
        transition: all 1.5s ease-in-out;
        border-radius: 100% 0 0 0;
        cursor: pointer;
        overflow: hidden;
        z-index: 90;
    }
    &__btn {
        display: block;
        position: fixed;
        bottom: 0;
        right: 0;
        background: #2e2e2e;
        height: 100px;
        width: 100px;
        transition: all 1.5s ease-in-out;
        border-radius: 100% 0 0 0;
        cursor: pointer;
        overflow: hidden;
        z-index: 100;
    }
    &__text {
        &-news {
            @extend %news__text;
        }
        &-exit {
            @extend %news__text;
            opacity: 0;
        }
    }
    &__news-box {
        max-height: 50vh;
        overflow-y: auto;
    }
    &__container {
        transition: opacity .5s ease-in-out, visibility .5s ease-in-out;
        position: fixed;
        display: flex;
        visibility: hidden;
        opacity: 0;
        color: white;
        top: 0;
        left: 0;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
        z-index: 95;
    }

    &__box {
        text-align: center;
    }

    &__h2 {
        font-size: 32pt;
    }

    &__hr {
        border-bottom: solid 1px white;
        margin-bottom: 32px;
    }

    &__block {
        margin: 16px;
    }
}

#news-cb:checked ~ .news {
    &__background {
        height: 145vmax;
        width: 145vmax;
        .news__text {
            opacity: 0;
        }
    }
    &__container {
        transition: opacity .5s ease-in-out 1s, visibility .5s ease-in-out;
        visibility: visible;
        opacity: 1;
    }
}

#news-cb:checked ~ .news__btn {
    .news__text {
        &-news {
            opacity: 0;
        }
        &-exit {
            opacity: 1;
        }
    }
}
