html(lang="ja")
    head
        include _head
        link(rel="stylesheet", href="/404.css")
    body
        include _header
        main
            div
                h1 404 Not found.
                p We couldn't find this page.
        include _footer