doctype html
html(lang="ja")
    head
        include _head
        link(rel="stylesheet", href="/404.css")
    body
        include _header
        main.notfound-main
            div
                h1.notfound-main__h1 404 Not found.
                p.notfound-main__message We couldn't find this page.
        include _footer