header
    div
        a(href="/members.html") Members
    div 
        a(href="/products.html") Products
    div
        a(href="/")
            img(src="logo.svg", alt="Maniackers").logo
    div
        a(href="/novfes.html") Nov Fes
    div
        a(href="/contact.html") Contact