meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(http-equiv="X-UA-Compatible", content="ie=edge")

meta(name="author" content="mizucoffee")
meta(name="description" content="The computer maniackers union. Maniackersは学生が集まってソフトウェア開発・ガジェット開発をしている自由な団体です。")
meta(name="format-detection" content="telephone=no,address=no,email=no")
meta(name="keywords" content="KCG,京都コンピュータ学院,サークル,コンピュータ,PC,パソコン,ガジェット,KittyCat")

meta(name="theme-color" content="#1E1E1E")
link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")

meta(name="application-name" content="Maniackers")
meta(name="msapplication-square70x70logo" content="/ms-small.jpg")
meta(name="msapplication-square150x150logo" content="/ms-medium.jpg")
meta(name="msapplication-wide310x150logo" content="/ms-wide.jpg")
meta(name="msapplication-square310x310logo" content="/ms-large.jpg")
meta(name="msapplication-TileColor" content="#1E1E1E")

meta(property="og:site_name" content="Maniackers")
meta(property="og:image" content="https://www.maniackers.club/ogp.png")
meta(name="twitter:card" content="summary_large_image")

script //