header
    div
        a(href="#") Members
    div 
        a(href="#") Products
    div
        a(href="#")
            img(src="logo.svg", alt="Maniackers").logo
    div
        a(href="#") Nov Fes
    div
        a(href="#") Contact