meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(http-equiv="X-UA-Compatible", content="ie=edge")

meta(name="author" content="mizucoffee")
meta(name="description" content="The computer maniackers union. Maniackersは学生が勝手に集まってソフトウェア開発・ガジェット開発をしている自由な団体です。")
meta(name="format-detection" content="telephone=no,address=no,email=no")
meta(name="keywords" content="KCG,京都コンピュータ学院,サークル,コンピュータ,PC,パソコン,ガジェット,KittyCat")

script //
title Maniackers