header
    div
        a(href="/members.html") Members
    div 
        a(href="/products.html") Products
    div.logo
        a(href="/")
            img(src="logo.svg", alt="Maniackers")
    div
        a(href="/novfes.html") Nov Fes
    div
        a(href="/contact.html") Contact
    label(for="menu")
        .menu-btn
    input#menu(type="checkbox", name="")
    .menu
        div
            div.logo
                a(href="/")
                    img(src="logo.svg", alt="Maniackers")
            div
                a(href="/members.html") Members
            div
                a(href="/products.html") Products
            div
                a(href="/novfes.html") Nov Fes
            div
                a(href="/contact.html") Contact