html(lang="ja")
    head
        include _head
        link(rel="stylesheet", href="/contact.css")
        script(src="/contact.js")
    body
        include _header
        main
            h1 The computer maniackers union.
        include _footer