doctype html
html(lang="ja")
    head
        include _head
        link(rel="stylesheet", href="/index.css")
    body
        include _header
        main.index-main
            div.index-main__box
                span.index-main__word The
                span.index-main__word computer
                span.index-main__word maniackers
                span.index-main__word union.
        include _footer