html(lang="ja")
    head
        include _head
        link(rel="stylesheet", href="/index.css")
        script(src="/index.js")
    body
        include _header
        div.main#index
            h1 The computer maniackers union.
        include _footer