doctype html
html(lang="ja")
    head
        include _head
        link(rel="stylesheet", href="/members.css")
        script(src="/members.js")
    body
        include _header
        main
            h1 Members
            .member
                img(src="/members/k-taro.png", alt="k-taro")
                br
                span.name K-Taro (Keitaro Masaoka)
                br
                span 機械設計屋
                br
                span Apple製品布教しすぎた人
                br
                a(href="https://kemarintech.net/") kemarintech.net
            .member
                img(src="/members/mizucoffee.png", alt="mizucoffee")
                br
                span.name 水珈琲 (Ritsuki Goto)
                br
                span サーバー屋
                br
                span レジ私物で持ってる人
                br
                a(href="https://mizu.coffee/") mizu.coffee
            .member
                img(src="/members/sakurayoru.png", alt="sakurayoru")
                br
                span.name さくら夜 (Shun Hirose)
                br
                span ガジェット屋
                br
                span ゆるふわ初心者(自称)
                br
                a(href="https://sakurayoru.dev/") sakurayoru.dev
            .member
                img(src="/members/arupaka.png", alt="arupaka")
                br
                span.name あるぱか (Atsushi Takegami)
                br
                span 音楽屋
                br
                span 地下室でピアノ弾く人
                br
                a(href="https://arupaka.dev/") arupaka.dev
        include _footer