- const pagename = 'Members'
doctype html
html(lang="ja")
    head
        link(rel="stylesheet", href="/members.css")
        link(href="https://fonts.googleapis.com/css?family=Quicksand:600,700&display=swap" rel="stylesheet")
        include _head
        meta(property="og:url" content="https://www.maniackers.club/members.html")
        meta(property="og:type" content="article")
        meta(property="og:title" content=pagename)
        meta(property="og:description" content="Maniackers メンバー紹介")
        meta(name="twitter:title" content=pagename)
        title Maniackers | #{pagename}
    body
        include _header
        main.members-main
            h1.members-main__h1 Members
            .members-main__cards.cards
                input(type="radio" name="card-cb" id="blank-cb" hidden checked)
                input(type="radio" name="card-cb" id="k-taro-cb" hidden)
                input(type="radio" name="card-cb" id="mizucoffee-cb" hidden)
                input(type="radio" name="card-cb" id="sakurayoru-cb" hidden)
                input(type="radio" name="card-cb" id="arupaka-cb" hidden)
                #blank.cards__card.card--blank
                    h2 Members Card
                #k-taro.cards__card.card
                    img.card__photo(src="/members/k-taro.png")
                    .card__data-box
                        .card__data-wrapper
                            .card__data.card-data
                                .card-data__nickname K-Taro
                                .card-data__name Keitaro Masaoka
                                .card-data__position Hardware Enginner
                                .card-data__skills-works
                                    .card-data__skill-work-header Skills:
                                    .card-data__skill-work-box
                                        .card-data__skill-work Robotics / Python
                                .card-data__skills-works
                                    .card-data__skill-work-header Works:
                                    .card-data__skill-work-box
                                        a.card-data__skill-work--a(href="//kemarintech.net/works/" target="_blank" rel="noopener noreferrer") Rosso
                                        a.card-data__skill-work--a(href="//kemarin-tech.blog.jp/archives/15901941.html" target="_blank" rel="noopener noreferrer") Elecrow CM
                                        a.card-data__skill-work--a(href="//www9.plala.or.jp/M-Robots/M-Robots/Other.html" target="_blank" rel="noopener noreferrer") Sun Tracer
                        a.card__github(href="//github.com/K-Taro79" target="_blank" rel="noopener noreferrer") @K-Taro79
                        a.card__url(href="//kemarintech.net/" target="_blank" rel="noopener noreferrer") kemarintech.net
                #mizucoffee.cards__card.card
                    img.card__photo(src="/members/mizucoffee.png")
                    .card__data-box
                        .card__data-wrapper
                            .card__data
                                .card-data__nickname Mizucoffee
                                .card-data__name Ritsuki Goto
                                .card-data__position Server-Side Enginner
                                .card-data__skills-works
                                    .card-data__skill-work-header Skills:
                                    .card-data__skill-work-box
                                        .card-data__skill-work Node.js / Ruby
                                        .card-data__skill-work Linux / Network
                                .card-data__skills-works
                                    .card-data__skill-work-header Works:
                                    .card-data__skill-work-box
                                        a.card-data__skill-work--a(href="//github.com/mizucoffee/maniackers" target="_blank" rel="noopener noreferrer") Maniackers Homepage
                                        a.card-data__skill-work--a(href="//twiback.mizucoffee.net/" target="_blank" rel="noopener noreferrer") Twiback
                                        a.card-data__skill-work--a(href="//iori-mizucoffee.herokuapp.com/" target="_blank" rel="noopener noreferrer") Iori
                        a.card__github(href="//github.com/mizucoffee" target="_blank" rel="noopener noreferrer") @mizucoffee
                        a.card__url(href="//mizu.coffee/" target="_blank" rel="noopener noreferrer") mizu.coffee
                #sakurayoru.cards__card.card
                    img.card__photo(src="/members/sakurayoru.png")
                    .card__data-box
                        .card__data-wrapper
                            .card__data
                                .card-data__nickname Sakurayoru
                                .card-data__name Shun Hirose
                                .card-data__position Yurufuwa Enginner
                                .card-data__skills-works
                                    .card-data__skill-work-header Skills:
                                    .card-data__skill-work-box
                                        .card-data__skill-work C# / Python / C / HTML5
                                        .card-data__skill-work Xamarin
                                        .card-data__skill-work ffmpeg
                                .card-data__skills-works
                                    .card-data__skill-work-header Works:
                                    .card-data__skill-work-box
                                        a.card-data__skill-work--a(href="//kcgfreeroom.netlify.com/" target="_blank" rel="noopener noreferrer") KCG Free Room
                        a.card__github(href="//github.com/sakurayoru" target="_blank" rel="noopener noreferrer") @sakurayoru
                        a.card__url(href="//sakurayoru.dev/" target="_blank" rel="noopener noreferrer") sakurayoru.dev
                #arupaka.cards__card.card
                    img.card__photo(src="/members/arupaka.png")
                    .card__data-box
                        .card__data-wrapper
                            .card__data
                                .card-data__nickname Arupaka
                                .card-data__name Atsushi Takegami
                                .card-data__position ??? Enginner
                                .card-data__skills-works
                                    .card-data__skill-work-header Skills:
                                    .card-data__skill-work-box
                                        .card-data__skill-work Play the piano
                                        .card-data__skill-work Cooking
                                .card-data__skills-works
                                    .card-data__skill-work-header Works:
                                    .card-data__skill-work-box
                                        a.card-data__skill-work--a(href="/carbonara.jpg" target="_blank" rel="noopener noreferrer") Carbonara(?!)
                        a.card__github(href="//github.com/ffffffffff5555555555" target="_blank" rel="noopener noreferrer") @ffffffffff5555555555
                        a.card__url(href="//arupaka.dev/" target="_blank" rel="noopener noreferrer") arupaka.dev
            .members-main__members.members
                label.members__member.member(for="k-taro-cb")
                    img.member__photo(src="/members/k-taro.png")
                    .member__name-box
                        span.member__name K-Taro
                label.members__member.member(for="mizucoffee-cb")
                    img.member__photo(src="/members/mizucoffee.png")
                    .member__name-box
                        span.member__name mizucoffee
                label.members__member.member(for="sakurayoru-cb")
                    img.member__photo(src="/members/sakurayoru.png")
                    .member__name-box
                        span.member__name Sakurayoru
                label.members__member.member(for="arupaka-cb")
                    img.member__photo(src="/members/arupaka.png")
                    .member__name-box
                        span.member__name Arupaka
        include _footer