html(lang="ja")
    head
        include _head
        link(rel="stylesheet", href="/members.css")
        script(src="/members.js")
    body
        include _header
        main
            h1 Oops! Constructing!
        include _footer