doctype html
html(lang="ja")
    head
        link(rel="stylesheet", href="/members.css")
        include _head
    body
        include _header
        main.members-main
            h1.members-main__h1 Members
            .members
                a.members__member.member(href="#k-taro")
                    img.member__photo(src="/members/k-taro.png")
                    .member__name-box
                        span.member__name K-Taro
                a.members__member.member(href="#mizucoffee")
                    img.member__photo(src="/members/mizucoffee.png")
                    .member__name-box
                        span.member__name mizucoffee
                a.members__member.member(href="#sakurayoru")
                    img.member__photo(src="/members/sakurayoru.png")
                    .member__name-box
                        span.member__name Sakurayoru
                a.members__member.member(href="#arupaka")
                    img.member__photo(src="/members/arupaka.png")
                    .member__name-box
                        span.member__name Arupaka
        include _footer