doctype html
html(lang="ja")
    head
        include _head
        link(rel="stylesheet", href="/novfes.css")
    body
        include _header
        main.novfes-main
            h1.novfes-main__h1 November Festival
        include _footer