doctype html
html(lang="ja")
    head
        include _head
        link(rel="stylesheet", href="/products.css")
    body
        include _header
        main.products-main
            h1.products-main__h1 Products
        include _footer