doctype html
html(lang="ja")
    head
        include _head
        link(rel="stylesheet", href="/products.css")
        script(src="/products.js")
    body
        include _header
        main
            h1 Products
        include _footer