@import "./_common.scss";
@import "./_header.scss";
@import "./_footer.scss";

main {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0, rgba(15, 15, 15, 0.9), rgba(15, 15, 15, 0.9)) , url("/the-old-school-building-of-toyosato-elementary-school.jpg") ;
    background-size: cover;
    background-position: center;
    h1 {
        display: block;
        color: white;
        font-size: 6vw;
    }
    p {
        color: white;
        font-size: 2vw;
    }
}

@media screen and (min-width: 1366px) {
    main {
        h1 {
            font-size: 75pt;
        }
        p {
            font-size: 24pt;
        }
    }
}
