@font-face {
	font-family: 'Futura';
    font-display: auto;
    src: url("/Futura-Lig.otf");
    font-weight: 300;
}

@font-face {
	font-family: 'Futura';
    font-display: auto;
	src: url("/Futura-Med.otf");
    font-weight: 500;
}