header {
    background: #1E1E1E;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    .logo {
        height: 60px;
    }

    div {
        text-align: center;
        width: 180px;
        a {
            color: white;
            text-decoration: none;
            font-family: Futura;
            font-size: 24pt;
            line-height: 1em;
            transition: opacity .1s ease-in-out;
            &:hover {
                opacity: 0.7;
            }
        }
    }
}