header {
    background: #1E1E1E;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    .logo {
        img {
            height: 60px;
        }
    }
    
    div.menu-btn, input#menu {
        display: none;
    }

    div.menu-btn {
        position: absolute;
        top: 16px;
        right: 16px;
        z-index: 10;
        width: 36px;
        height: 32px;
        span {
            transition: all .4s;
            position: absolute;
            display: inline-block;
            width: 100%;
            height: 4px;
            background: white;
            left: 0;
            border-radius: 8px;
            
            &:nth-of-type(1) {
                top: 0;
            }
            &:nth-of-type(2) {
                top: 14px;
            }
            &:nth-of-type(3) {
                bottom: 0;
            }
        }
    }

    .menu {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100vw;
        background: #1E1E1E;
        color: white;
        transition: opacity .2s ease-in-out, visibility .2s ease-in-out;
        a {
            visibility: hidden;
            opacity: 0;
            display: block;
            color: white;
            text-decoration: none;
            font-size: 16pt;
            font-weight: 100;
            margin-bottom: 12px;
            margin-left: -30px;
            &:nth-of-type(0) {
                margin-left: 0;
                transition: opacity .5s ease-in-out, visibility .5s ease-in-out;
            }
            &:nth-of-type(1) {
                transition: opacity .5s ease-in-out, visibility .5s ease-in-out, transform .2s ease-in-out, margin-left .2s ease-in-out .1s;
            }
            &:nth-of-type(2) {
                transition: opacity .5s ease-in-out, visibility .5s ease-in-out, transform .2s ease-in-out, margin-left .2s ease-in-out .1s;
            }
            &:nth-of-type(3) {
                transition: opacity .5s ease-in-out, visibility .5s ease-in-out, transform .2s ease-in-out, margin-left .2s ease-in-out .15s;
            }
            &:nth-of-type(4) {
                transition: opacity .5s ease-in-out, visibility .5s ease-in-out, transform .2s ease-in-out, margin-left .2s ease-in-out .2s;
            }
            &:nth-of-type(5) {
                transition: opacity .5s ease-in-out, visibility .5s ease-in-out, transform .2s ease-in-out, margin-left .2s ease-in-out .25s;
            }
        }
    }
    input#menu:checked ~ label {
        .menu-btn {
            span {
                background: white;
                
                &:nth-of-type(1) {
                    transform: translateY(14px) rotate(-135deg);
                }
                &:nth-of-type(2) {
                    transform: scale(0,1);
                }
                &:nth-of-type(3) {
                    transform: translateY(-14px) rotate(135deg);
                }
            }
        }
    }
    input#menu:checked ~ div.menu {
        opacity: 1;
        visibility: visible;
        a {
            opacity: 1;
            visibility: visible;
            margin-left: 0px;
            &:hover {
                transform: scale(1.1, 1.1);
            }
        }
    }

    &>div {
        text-align: center;
        width: 180px;
        a {
            color: white;
            text-decoration: none;
            font-size: 24pt;
            line-height: 1em;
            transition: opacity .1s ease-in-out;
            &:hover {
                opacity: 0.7;
            }
        }
    }
}

@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

@keyframes fadeOut {
    0% {opacity: 1}
    100% {opacity: 0}
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    header {    
        &>div {
            text-align: center;
            width: 130px;
            &.logo {
                margin: 0 24px;
            }
            a {
                font-size: 20pt;
                line-height: 1em;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    header {
        height: 64px;
    
        .logo {
            img {
                height: 48px;
            }
        }

        div.menu-btn{
            display: block;
        }

        &>div:not(.logo):not(.menu) {
            display: none;
        }
    }
}
