@import "./_common.scss";
@import "./_header.scss";
@import "./_footer.scss";

main {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0, rgba(15, 15, 15, 0.9), rgba(15, 15, 15, 0.9)) , url("/takayama-city-library.jpg");
    background-size: cover;
    background-position: center;
    span {
        display: block;
        font-family: Futura;
        color: white;
        font-size: 6vw;
        font-weight: 100;
    }
}

@media screen and (min-width: 1366px) {
    main {
        h1 {
            font-size: 75pt;
        }
    }
}
