@import "./_common.scss";
@import "./_header.scss";
@import "./_footer.scss";

.main#index {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px - 32px);
    background: linear-gradient(0, rgba(15, 15, 15, 0.9), rgba(15, 15, 15, 0.9)) , url("/takayama-city-library.jpg") ;
    background-size: cover;
    background-position: center;
    h1 {
        display: block;
        font-family: Futura;
        color: white;
        font-size: calc(6vw);
        font-weight: 100;
    }
    
}

@media screen and (min-width: 1366px) {
    #index {
        .main {
            h1 {
                font-size: 75pt;
            }
        }
    }
}
  