@import "./_common.scss";

main {
    text-align: center;
    .member {
        margin-top: 64px;
        margin-bottom: 16px;
        img {
            margin-bottom: 16px;
            border-radius: 50%;
            height: 128px;
        }
        .name {
            font-size: 24pt;
            font-weight: 500;
        }
        a {
            color: black;
            font-size: 16pt;
            text-decoration: none;
            &:hover {
                opacity: 0.7;
            }
        }
    }
}