@import "./_common.scss";
@import "./_header.scss";
@import "./_footer.scss";

main {
    h1 {
        padding: 64px;
        color: white;
        font-size: 36pt;
        text-align: center;
        background: linear-gradient(0, rgba(15, 15, 15, 0.9), rgba(15, 15, 15, 0.9)) , url("/takayama-city-library.jpg");
        background-size: cover;
        background-position: center 30%;
    }
}