.members-main {
    @extend %common-main;
    text-align: center;

    &__h1 {
        @extend %common-h1;
    }
    &__members {
        margin: 0 auto;
    }
    &__cards {
        margin: 48px 0 32px;
    }
}